h1{
    color: rgb(50%,20%,10%);
}
body{
    margin:0px;
    paading:0px;
}
/*#para-id{
    color: blue;
    font-size:30px;
    border: 1px solid rgb(255,200,120);
    border-radius:5px;
}
.next-para-class{
    color: #783f3f;
}*/
/*p{
    padding: 20px 40px 10px 30px;
    margin: 20px;
    border: 1px solid #444;
}
a{
    text-deciration:none;
    border: 1px solid red;
    padding : 20px;
    margin: 10px;
}
a:hover{
    background-color: yellow;

}
.highlight-word{
    text-decoration:underline;
    color:aqua;
}*/
.navbar{
    background-color: #444;
    padding :10px;
}
.navbar a{
    color: #fff;
    text-decoration: none;
    padding: 10px;
}
.navbar a:hover{
    background-color: yellow;
    color: black;
}